<launch>
  <!-- machine file -->
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <!-- base actions -->
  <include file="$(find pr2_plugs_executive)/base_actions.launch" />

  <!-- plug actions -->
  <include file="$(find pr2_plugs_actions)/launch/plug_actions.launch" />

  <!-- plugs web adaptor -->
  <node pkg="pr2_plugs_executive" type="recharge_action_web_adapter.py" name="recharge_action_web_adapter" output="screen" />
</launch>
