<launch>

  <!-- plugging in -->
  <include file="$(find pr2_plugs_executive)/plugin.launch" />
  
  <!-- navstack -->
  <include file="$(find wg_pr2_2dnav)/pr2_2dnav.launch" />

  <!-- plugs executive -->
  <node pkg="pr2_plugs_executive" type="executive_with_recovery.py" name="plugs_executive" output="screen" />
  <node pkg="pr2_plugs_actions" type="recharge_toplevel.py" name="recharge_toplevel" output="screen" />
  <node pkg="pr2_plugs_actions" type="detect_outlet_sm.py" name="detect_outlet_sm" output="screen" />
  <node pkg="pr2_plugs_actions" type="fetch_plug_sm.py" name="fetch_plug_sm" output="screen" />

</launch>
