<launch>
  <!-- machine file -->
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <!-- outlet detector: 
    output=outlet_detector/pose
  -->
  <node machine="c2" ns="outlet_detector" name="outlet_node" pkg="outlet_detection" type="outlet_node" respawn="false" output="screen">
    <remap from="image" to="/r_forearm_cam/image_rect_color" />
    <param name="outlet_template" type="str" value="$(find outlet_detection)/outlet_templates/configs/green_2x1white"/>
  </node>


  <!-- add covariance to outlet detector: 
    input=outlet_detector/pose
    output=outlet_frame_covar
  --> 
  <node pkg="pr2_plugs_common" type="covariance_inserter" name="outlet_detection_covariance_inserter" >
    <remap from="pose_in" to="outlet_detector/pose" />
    <remap from="pose_out" to="outlet_frame_cov" />
    <param name="fixed_frame" type="string" value="base_link"/>
    <param name="cov_fixed1" type="double" value="1e-6"/>
    <param name="cov_fixed2" type="double" value="1e-6"/>
    <param name="cov_fixed3" type="double" value="1e-6"/>
    <param name="cov_fixed4" type="double" value="1e-6"/>
    <param name="cov_fixed5" type="double" value="1e6"/>
    <param name="cov_fixed6" type="double" value="1e6"/>
  </node>


  <!-- filter for outlet detector
    input=outlet_frame
    output=outlet_frame_filtered
  -->
  <node pkg="pr2_plugs_common" type="detector_filter" name="outlet_detector_filter">
   <param type="string" name="fixed_frame" value="base_link" />
   <remap from="pose_in" to="outlet_frame" />
   <remap from="pose_out" to="outlet_frame_filtered" />
  </node>
  <node pkg="pr2_plugs_common" type="pose_to_tf" name="outlet_filtered_tf_publisher">
   <param type="string" name="frame_id" value="outlet_frame_filtered" />
   <remap from="pose" to="outlet_frame_filtered" />
  </node>
</launch>