<launch>
  <!--include file="$(find pr2_machine)/$(env ROBOT).machine" /-->

  <!-- Plug calibration -->
  <node pkg="pr2_plugs_actions" type="load_plug_description.py" name="load_plug_description" required="true" />

  <!-- The plug finding action -->
  <node pkg="pr2_plugs_actions" type="vision_detect_plug" name="vision_plug_detection" output="screen">
    <param name="subpixel_corners" type="bool" value="true"/>
  </node>
</launch>
